Reqs:{{range .Log.Entries}}
 {{- if stringsContains .Request.Url "http://bing.com/?" }}


- Transaction: {{ slice .Request.Url 17 }}
  Requests:
 {{- else}}
  - URL: {{.Request.Url}}
    Method: {{.Request.Method}}
    Headers:
      {{- range .Request.Headers}}
      {{- $wanted := regexpFindString .Name `(?i)^(Accept|Content-Type)$`}} {{- if $wanted}}
      - { Name: '{{.Name}}', Value: '{{.Value}}' }
      {{- end}}{{- end}}
    {{- $length := len .Request.QueryString }}{{ if ne $length 0 }}
    QueryString: {{- with .Request.QueryString}} {{- range .}}
        - { Name: '{{.Name}}', Value: '{{.Value}}' }{{end}}{{end}}{{end}}
    {{- with .Request.PostData }}
    PostData:
      {{with .Params -}}
      Params: {{range .}}
        - { Name: '{{.Name}}', Value: '{{.Value}}' }{{end}}
      {{else -}}
      Text: {{if (stringsContains .Text "\n")}}|
        {{ regexpReplaceAllString .Text "\r?\n" "\n        " }}
       {{- else}}'{{.Text}}'
       {{- end}}
      {{- end}}
    {{- end}}
 {{- end}}
{{end}}
