{{ $hostName := ENV "GJS_HostName" -}}
{{ $hostPort := ENV "GJS_HostPort" -}}
{{ $hostProt := ENV "GJS_HostProt" -}}
{{ $hostUrl := print $hostProt "://" $hostName -}}
{{ if not (eq $hostPort "" "80" "443") }}{{ $hostUrl = print $hostUrl ":" $hostPort }}{{end -}}
{{- $app := ENV "GJS_App" -}}
{{ if ne (ENV "GJS_IsInsert") "" -}}
fragment {
{{- else -}}
@GrabConfig(systemClassLoader = true)
@Grab('net.simonix.scripts:groovy-jmeter')

@groovy.transform.BaseScript net.simonix.dsl.jmeter.TestScript script

start {
  plan {
    variables {
      // using __env() custom JMeter Functions, https://jmeter-plugins.org/wiki/Functions/
      variable(name: 'c_app_host_name', value: '${__env(c_app_host_name, , {{ coalesce $hostName "localhost"}})}', description: 'Test server host name')
      variable(name: 'c_app_host_port', value: '${__env(c_app_host_port, , {{ coalesce $hostPort "443"}})}', description: 'Test server host port')
      variable(name: 'c_app_protocol', value: '${__env(c_app_protocol, , {{ coalesce $hostProt "https"}})}', description: 'Test server protocol')
      variable(name: 'c_app_error_kw', value: '${__P(c_app_error_kw,Wrong)}', description: 'keyword indicates wrong application returns')
      variable(name: 'c_lt_users', value: '${__P(c_lt_users, {{ coalesce (ENV "GJS_LT_USERS") 10}})}', description: 'loadtest users')
      variable(name: 'c_lt_ramp', value: '${__P(c_lt_ramp, {{ coalesce (ENV "GJS_LT_RAMP") 30}})}', description: 'loadtest ramp up in seconds')
      variable(name: 'c_lt_loops', value: '${__P(c_lt_loops, {{ coalesce (ENV "GJS_LT_LOOPS") 1}})}', description: 'loadtest loops')
      variable(name: 'c_lt_duration', value: '${__P(c_lt_duration, {{ coalesce (ENV "GJS_LT_DURATION") 720}})}', description: 'loadtest duration in seconds')
      variable(name: 'c_lt_delay', value: '${__P(c_lt_delay, {{ coalesce (ENV "GJS_LT_DELAY") 1}})}', description: 'thread delay in seconds')
      variable(name: 'c_tt_range', value: '${__P(c_tt_range, {{ coalesce (ENV "GJS_TT_RANGE") 6000}})}', description: 'Think Time: Maximum random number of ms to delay')
      variable(name: 'c_tt_delay', value: '${__P(c_tt_delay, {{ coalesce (ENV "GJS_TT_DELAY") 2000}})}', description: 'Think Time: Ms to delay in addition to random time')
      variable(name: 'c_pt_range', value: '${__P(c_pt_range, {{ coalesce (ENV "GJS_TT_RANGE") 120000}})}', description: 'Pace Time: Maximum random number of ms to delay')
      variable(name: 'c_pt_delay', value: '${__P(c_pt_delay, {{ coalesce (ENV "GJS_TT_DELAY") 60000}})}', description: 'Pace Time: Ms to delay in addition to random time')
      variable(name: 'c_cfg_TestName', value: '{{ coalesce (ENV "GJS_App") "Example"}}', description: 'Test name to identify different tests')
      variable(name: 'c_cfg_TimeTag', value: '_${START.YMD}-${START.HMS}', description: 'Time based tag to identify different tests')
      variable(name: 'c_cfg_Influxdb', value: '${__env(c_cfg_Influxdb, , localhost)}', description: 'Influxdb server host name')
      {{range .Variables -}}
      variable(name: '{{.Name}}', value: '{{.Value}}')
      {{end -}}
    }
    variables {
      variable(name: 'c_cfg_TestID', value: '${c_cfg_TestName}${c_cfg_TimeTag}', description: 'Test ID, for identification and reporting purpose')
    }

    defaults(protocol: '${c_app_protocol}', domain: '${c_app_host_name}', port:  '${c_app_host_port}')
{{- end}}

    group(name: 'Thread Group', delay: '${c_lt_delay}', delayedStart: true,
      users: '${c_lt_users}', rampUp: '${c_lt_ramp}', keepUser: false,
      loops: '${c_lt_loops}', duration: '${c_lt_duration}', scheduler: {{ not (ne (ENV "GJS_UseLoop") "") }}) {
      headers {
        header(name: 'Host', value: '${c_app_host_name}')
        header(name: 'Origin', value: '${c_app_host_name}')
        header(name: 'Referer', value: '${c_app_host_name}')
        header(name: 'Connection', value: 'keep-alive')
        header(name: 'Cache-Control', value: 'max-age=0')
        header(name: 'Upgrade-Insecure-Requests', value: '1')
        header(name: 'User-Agent', value: 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36')
      }
      cookies()
      cache()
      // check_response {
      //   status() eq 200
      // }
      check_response applyTo: 'parent', {
        text() excludes '${c_app_error_kw}'
      }
      {{- range .Reqs}}
      {{- $url := regexpReplaceAllString (stringsReplace .URL $hostUrl "" 1) `\?.*$` ""}}
      {{- $urlname := fpBase $url}}

      transaction('T0x_{{$urlname}}') {
        http (method: '{{.Method}}', path: '{{$url}}', name: 'T0r_{{$urlname}}') {
          {{if .Headers}}headers {
            {{- range .Headers}}
            header(name: '{{.Name}}', value: '{{.Value}}')
            {{- end}}
          }{{end}}
          {{- if or .PostData.Params .QueryString}}
          params {
            {{if .PostData.Params -}} {{- range .PostData.Params -}}
            param(name: '{{.Name}}', value: '{{.Value}}')
            {{end -}}
            {{ else if .QueryString}} {{- range .QueryString -}}
            param(name: '{{.Name}}', value: '{{.Value}}')
            {{end -}}
            {{end}}
          }
          {{- else if .PostData.Text}}
          body '''\
{{.PostData.Text}}
'''
          {{- end}}

          {{ $code := coalesce .Code "//extract_jmes expression: 'book.id', variable: 'p_bookId'" }}{{ $code | indent 10 }}
        }
      }{{end}}
    }
{{ if not (ne (ENV "GJS_IsInsert") "")}}
    {{ if ne (ENV "GJS_InfluxdbUse") "" -}}
    backend(name: 'InfluxDb Backend', enabled: true) {
      arguments {
        argument(name: 'influxdbMetricsSender', value: 'org.apache.jmeter.visualizers.backend.influxdb.HttpMetricsSender')
        argument(name: 'influxdbUrl', value: 'http://${c_cfg_Influxdb}:8086/write?db=jmeter_results')
        argument(name: 'application', value: '${c_cfg_TestID}')
        argument(name: 'measurement', value: 'jmeter')
        argument(name: 'summaryOnly', value: 'false')
        argument(name: 'samplersRegex', value: '.*')
        argument(name: 'percentiles', value: '50;90;95;99')
        argument(name: 'testTitle', value: '${c_cfg_TestID} - users: ${c_lt_users}, duration ${c_lt_duration}, rampup: ${c_lt_ramp}')
        argument(name: "eventTags", value: '')
      }
    }
    {{end -}}

    summary(file: '${c_cfg_TestID}.jtl') //, enabled: true
    view () // View Result Tree
  }
}
{{- else -}}
}
{{- end}}
